<div class="container">
  <h1 class="text-center">Welcome to our online library </h1>
  <h4 class="text-center text-danger">This site is under construction for this moment</h4>


<section class="d-flex justify-content-center mt-5">

  <button type="submit" style="width:150px" class="btn btn-primary mr-5"><a href="<%= new_user_path %>" class="text-decoration-none font-weight-bold text-light">S'inscrire</a></button>

  <button type="submit" style="width:150px"  class="btn btn-primary mr-5"><a href="<%= new_session_path %>" class="text-decoration-none font-weight-bold text-light">Se connecter</a></button>

</section>
</div>