<div class="container">
  <h1 class="text-center mt-5">Notre équipe</h1>
  <h4 class="text-center mt-3 mb-5"><b>Nous sommmes à votre disposition!</b></h4>
</section>

<section class="d-flex justify-content-around flex-row mt-5">

<div class="card bg-light mb-3" style="max-width: 18rem;">
  <img src="https://blog.galvanize.com/wp-content/uploads/2018/03/20150708172005-coding-working-workspace-apple-macintosh.jpg" class="card-img-top" alt="naismIbrahimi">
  <div class="card-header text-center"><h5><b>Nasim IBRAHIMI</b></h5></div>
  <div class="card-body">
    <p class="card-title"><strong> Responsable du site WEB</strong></p>
    <p class="card-text">Email: <a href="mailto:nasim_ebi@yahoo.com">nasim_ebi@yahoo.com</a></p>
  </div>
</div>
<div class="card bg-light mb-3" style="max-width: 18rem;">
  <img src="https://edito.regionsjob.com/observatoire-metier/wp-content/uploads/sites/4/2015/12/d%C3%A9veloppeur-web.jpg" class="card-img-top" alt="naismIbrahimi">
  <div class="card-header text-center"><h5><b>Nasim IBRAHIMI</b></h5></div>
  <div class="card-body">
    <p class="card-title"><strong> Responsable du site WEB</strong></p>
    <p class="card-text">Email: <a href="mailto:nasim_ebi@yahoo.com">nasim_ebi@yahoo.com</a></p>
  </div>
</div>
<div class="card bg-light mb-3" style="max-width: 18rem;">
  <img src="https://cdn.uclouvain.be/styles/full_content/groups/cms-editors-digitalu/HommeTabletteCafe-Pexels.jpg?itok=iXkNjCD5" class="card-img-top" alt="naismIbrahimi">
  <div class="card-header text-center"><h5><b>Nasim IBRAHIMI</b></h5></div>
  <div class="card-body">
    <p class="card-title"><strong> Responsable du site WEB</strong></p>
    <p class="card-text">Email: <a href="mailto:nasim_ebi@yahoo.com">nasim_ebi@yahoo.com</a></p>
  </div>
</div>
</div>
