
body{ 
	background-image: url("https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: 15px;
	background-attachment: fixed;
  }